<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlightFinder</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- CSS file -->
    @*<link rel="stylesheet" href="~/css/easy-autocomplete.min.css">
    <link rel="stylesheet" href="~/css/easy-autocomplete.themes.min.css">*@
    @*<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">*@

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

</head>
<body>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FlightFinder</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register","Home")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js"></script>*@
    <!-- JS file -->
    <script src="~/js/getAirports.js"></script>
    <script src="~/js/jquery.easy-autocomplete.min.js"></script>
    @RenderSection("Styles", required: false)
    
</body>
</html>
