@{
    ViewData["Title"] = "Home Page";
    var flights = ViewData["Flight"];
    var agents = ViewData["Agents"];
    var places = ViewData["Places"];
    var journeys = ViewData["Journeys"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*@{
            var json = ViewData["MyJSON"];
    }*@
<form>
    <table class="criterias">
        <tr>
            <td>
                <label>Departure</label>
            </td>
            <td>
                <input id="countries" />
            </td>
            <td>
                <select id="selectpicker">
                </select>
            </td>
            <td>
                <label for="start">Depart:</label>

            </td>
            <td>
                <input type="date" id="start" name="trip-start"
                       value="2019-11-14"
                       min="2019-01-01" max="2019-12-31">
            </td>
        </tr>
        <tr>
            <td>
                <label>Destination</label>
            </td>
            <td>
                <input id="countries2" />
            </td>
            <td>
                <select id="selectpicker2">
                </select>
            </td>
            <td>

                <label for="end">Return:</label>
            </td>
            <td>
                <input type="date" id="end" name="trip-end"
                       value="2019-11-15"
                       min="2019-01-01" max="2019-12-31">
            </td>
            <td>
            <select id="cabinClass">
                <option>Economy</option>
                <option>Business</option>
        </select>
                </td>
        </tr>
    </table>
    <button id="submitButton" name="submit" type="button">Search</button>


    </form>
    <div id="results">
        <ul id="itineraries">

        </ul>
    </div>


</div>
<div>
    <ul>
        @foreach (var journey in (IEnumerable<Journey>)journeys)
        {
            <li class="listitem">
                <table class="table">
                    <tr class="tablerow">
                        <td class="flightInfos">
                            <ul class="outAndInboundFlights">
                                <li class="outboundFlight">
                                    <ul>
                                        <li class="carrierIMG">
                                            <img src=" @journey.outboundFlight.imgUrl" />
                                        </li>
                                        <li class="departure">@journey.outboundFlight.originStation, @journey.outboundFlight.departure</li>
                                        <li class="duration">@journey.outboundFlight.duration</li>
                                        <li class="arrival">@journey.outboundFlight.destinationStation, @journey.outboundFlight.arrival</li>
                                    </ul>
                                </li>
                                <li class="inboundFlight">
                                    <ul>
                                        <li class="carrierIMG">
                                            <img src=" @journey.inboundFlight.imgUrl" />
                                        </li>
                                        <li class="departure">@journey.inboundFlight.originStation, @journey.inboundFlight.departure</li>
                                        <li class="duration">@journey.inboundFlight.duration</li>
                                        <li class="arrival">@journey.inboundFlight.destinationStation, @journey.inboundFlight.arrival</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                        <td class="priceAndLink">
                            <ul>
                                <li class="price">@journey.price</li>
                                <li class="link">
                                    <a href="@journey.link">
                                        <button>
                                            Purchase
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </li>
        }
    </ul>
</div>
