@model FlightFinder.Models.Register
@{
    ViewData["Title"] = "Home Page";
    var flights = ViewData["Flight"];
    var agents = ViewData["Agents"];
    var places = ViewData["Places"];
    var journeys = ViewData["Journeys"];
}

@{
    if (TempData["message"] != null)
    {
        <script>
            alert('@TempData["message"]')
        </script>
    }
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="@Href("css/style.css")" />
    <link rel="stylesheet" href="@Href("~/css/easy-autocomplete.min.css")">
    <link rel="stylesheet" href="@Href("~/css/easy-autocomplete.themes.min.css")">
}


<div class="text-center">
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        @using (Html.BeginForm("Results", "Home"))
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input name="flyingFrom" id="countries" class="form-control" type="text" placeholder="City or airport" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <input name="flyingTo" id="countries2" class="form-control" type="text" placeholder="City or airport" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <select name="airportFrom" id="airportFrom" class="form-control" required></select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <select name="airportTo" id="airportTo" class="form-control" required></select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        <input name="departing" id="start" class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input name="returning" id="end" class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        <select name="adults" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Children (0-17)</span>
                                        <select name="children" class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        <select name="cabinClass" id="cabinClass" class="form-control">
                                            <option>Economy</option>
                                            <option>Business</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <button id="submitButton" class="submit-btn" type="submit" onclick="location.href='@Url.Action("Results", "Home")'" usesubmitbehaviour="false">Show flights</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

