
@{
    //ViewData["Title"] = "Results";
    var flights = ViewData["Flight"];
    var agents = ViewData["Agents"];
    var places = ViewData["Places"];
    var journeys = ViewData["Journeys"];
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="@Href("~/css/sheet.css")" />
}

@*<div>
        @foreach (var journey in (IEnumerable<Journey>)journeys)
        {
            <div class="card">
                <div class="gaadiex-list">
                    <div class="gaadiex-list-item">
                        <img class="gaadiex-list-item-img" src=" @journey.outboundFlight.imgUrl" />
                        <div class="gaadiex-list-item-text">
                            <h4 class="departure">@journey.outboundFlight.originStation, @journey.outboundFlight.departure</h4>
                            <p class="duration">@journey.outboundFlight.duration min</p>
                            <h4 class="arrival">@journey.outboundFlight.destinationStation, @journey.outboundFlight.arrival</h4>
                        </div>
                    </div>
                </div>
                <br />
                <div class="gaadiex-list">
                    <div class="gaadiex-list-item">
                        <img class="gaadiex-list-item-img" src=" @journey.inboundFlight.imgUrl" />
                        <div class="gaadiex-list-item-text">
                            <h4 class="departure">@journey.inboundFlight.originStation, @journey.inboundFlight.departure</h4>
                            <p class="duration">@journey.inboundFlight.duration mins</p>
                            <h4 class="arrival">@journey.inboundFlight.destinationStation, @journey.inboundFlight.arrival</h4>
                        </div>
                        <div>
                            <h3 class="price">@journey.price Ft</h3>
                            <a href="@journey.link">
                                <button class="submit-btn">
                                    Purchase
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>*@
<div>
    @foreach (var journey in (IEnumerable<Journey>)journeys)
    {
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="booking-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <img class="gaadiex-list-item-img" src=" @journey.outboundFlight.imgUrl" />
                                        <h4 class="departure">@journey.outboundFlight.originStation, @journey.outboundFlight.departure</h4>
                                        <p class="duration">@journey.outboundFlight.duration min</p>
                                        <h4 class="arrival">@journey.outboundFlight.destinationStation, @journey.outboundFlight.arrival</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <img class="gaadiex-list-item-img" src=" @journey.inboundFlight.imgUrl" />
                                        <h4 class="departure">@journey.inboundFlight.originStation, @journey.inboundFlight.departure</h4>
                                        <p class="duration">@journey.inboundFlight.duration mins</p>
                                        <h4 class="arrival">@journey.inboundFlight.destinationStation, @journey.inboundFlight.arrival</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <h3 class="price">@journey.price Ft</h3>
                                        <a href="@journey.link">
                                            <button class="submit-btn">
                                                Purchase
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>